// BAR
// ==============
.cookies-bar {
	$block: &;
	background: $white;
	bottom: 0;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.08);
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 30;
    
    &--hidden {
        display: none;
    }

	&__container {
        align-items: center;
    	display: flex;
        justify-content: space-between;
        padding-bottom: 35px;
		padding-top: 35px;
        position: relative;
        
        @include breakpoint(medium down) {
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
	}

	&__text {
		font-size: 0.8875rem;
        display: block;
        max-width: 600px;
        margin-right: 50px;

        @include breakpoint(medium down) {
            margin-bottom: 20px;
            margin-right: 0;
        }

        *:last-child {
            margin-bottom: 0;
        }

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: .9rem;
        }
	}

	&__close-icon {
        background-color: $white;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0.8rem;
        height: 30px;
	    right: 8px;
	    position: absolute;
        top: 8px;
        transform: rotate(45deg);
        width: 30px;
        @include transitions();
        z-index: 6;

		&:hover {
			&:after,
			&:before {
				opacity: 1;
			}
		}

		&:after,
		&:before {
			background-color: #393A3B;
			content: '';
			display: block;
			font-size: inherit;
			height: 1.1875em;
			left: 50%;
			opacity: .9;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 3px;
			@include transitions();
		}

		&:before {
			height: 3px;
			width: 1.1875em;
		}
    }

    &__buttons {
        align-items: center;
        display: flex;

        * + * {
            @include breakpoint(medium up) {
                margin-left: 15px!important; 
            }
            @include breakpoint(small down) {
                margin-top: 25px!important;
            }
        }

        @include breakpoint(small down) {
            align-items: center;
            flex-direction: column;
        }
    }
    
    &__button--accept,
    &__button--decline {
        @extend .button;
        height: 40px;
        min-width: 100px;
    }

    &__button--settings {
        background-color: transparent;
        height: auto;
        padding: 0;
    }
}

// OPENER
// ===============
.cookies-settings-opener {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EShape%3C/title%3E%3Cg id='T1---Homepage' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Cookie-Message---Closed' transform='translate(-1394.000000, -751.000000)' fill='%23393A3B' fill-rule='nonzero'%3E%3Cg id='Group-2' transform='translate(1382.000000, 739.000000)'%3E%3Cg id='Group' transform='translate(12.000000, 12.000000)'%3E%3Cg id='settings'%3E%3Cpath d='M17.5764771,6.95050049 L16.1930237,6.64974977 C16.0727234,6.28143311 15.9237213,5.92218018 15.7478027,5.57611084 L16.5136871,4.38478087 C16.6504669,4.17192079 16.6203918,3.89245605 16.4415894,3.71365355 L14.2863465,1.55841064 C14.1075439,1.37960817 13.8280792,1.34953309 13.6152191,1.48631287 L12.4238892,2.25219727 C12.0778198,2.0762787 11.7185669,1.92727659 11.3502502,1.80697634 L11.0494995,0.423522949 C10.9958038,0.176330566 10.7769013,0 10.523941,0 L7.47605897,0 C7.22309875,0 7.00419618,0.176330566 6.95050049,0.423522949 L6.64974977,1.80697634 C6.28143311,1.92727659 5.92218018,2.0762787 5.57611084,2.25219727 L4.38478088,1.48631287 C4.17192079,1.34953309 3.89245605,1.37960817 3.71365355,1.55841064 L1.55841064,3.71365355 C1.37960817,3.89245605 1.34953309,4.17192079 1.48631288,4.38478087 L2.25219727,5.57611084 C2.0762787,5.92218018 1.92727659,6.28143311 1.80697634,6.64974977 L0.423522949,6.95050049 C0.176330566,7.0043335 4.99600361e-15,7.22309875 4.99600361e-15,7.47605897 L4.99600361e-15,10.523941 C4.99600361e-15,10.7769013 0.176330566,10.9956665 0.423522949,11.0494995 L1.80697634,11.3502502 C1.92727659,11.7185669 2.0762787,12.0778198 2.25219727,12.4238892 L1.48631288,13.6152191 C1.34953309,13.8280792 1.37960817,14.1075439 1.55841064,14.2863465 L3.71365355,16.4415894 C3.89245605,16.6203918 4.17192079,16.6504669 4.38478088,16.5136871 L5.57611084,15.7478027 C5.92218018,15.9237213 6.28143311,16.0727234 6.64974977,16.1930237 L6.95050049,17.5764771 C7.00419618,17.8236694 7.22309875,18 7.47605897,18 L10.523941,18 C10.7769013,18 10.9958038,17.8236694 11.0494995,17.5764771 L11.3502502,16.1930237 C11.7185669,16.0727234 12.0778198,15.9237213 12.4238892,15.7478027 L13.6152191,16.5136871 C13.8280792,16.6504669 14.1075439,16.6205292 14.2863465,16.4415894 L16.4415894,14.2863465 C16.6203918,14.1075439 16.6504669,13.8280792 16.5136871,13.6152191 L15.7478027,12.4238892 C15.9237213,12.0778198 16.0727234,11.7185669 16.1930237,11.3502502 L17.5764771,11.0494995 C17.8236694,10.9956665 18,10.7769013 18,10.523941 L18,7.47605897 C18,7.22309875 17.8236694,7.0043335 17.5764771,6.95050049 Z M12.2270966,9 C12.2270966,10.7793732 10.7793732,12.2270966 9,12.2270966 C7.22062684,12.2270966 5.77290343,10.7793732 5.77290343,9 C5.77290343,7.22062684 7.22062684,5.77290343 9,5.77290343 C10.7793732,5.77290343 12.2270966,7.22062684 12.2270966,9 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $white;
    border-radius: 50%;
    bottom: 15px;
    box-shadow: 0 3px 10px -3px rgba(0,0,0,0.17);
    cursor: pointer;
    height: 42px;
    position: fixed;
    right: 15px;
    transition: all .2s linear;
    width: 42px;
    z-index: 4;

    &:hover {
        box-shadow: 0 3px 15px -3px rgba(167, 131, 131, 0.4);
    }
}

// SETTINGS
// ==================
$accept_color: #B9C138;
$decline_color: #C13838;

.cookies-settings {
    background-color: #393A3B;
    height: 100vh;
    max-width: 486px;
    padding: 35px 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: right .4s linear;
    z-index: 31;

    @include breakpoint(small down) {
        max-width: 300px;
        padding: 25px 0;
    }

    &--hidden {
        right: -100%;
    }

    &:after {
        background: linear-gradient(180deg, transparent 10%, rgba(57,58,59,0.18) 20%, #393A3B 100%);
        bottom: 0;
        content: '';
        display: block;
        height: 82px;
        left: 0;
        position: absolute;
        width: 100%;

        @include breakpoint(small down) {
            height: 60px;
        }
    }

    * {
        color: $white;
    }

    [data-decline-cookies] {
        cursor: pointer;
    }

    &__inner {
        height: 100%;
        overflow-y: auto;
        padding: 0 40px 89px;
        position: relative;

        @include breakpoint(small down) {
            padding: 0 25px 69px;
        }
    }

    // Close Icon
	&__close-icon {
        background-color: $white;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0.8rem;
        height: 30px;
	    right: 23px;
	    position: absolute;
        top: 29px;
        transform: rotate(45deg);
        width: 30px;
        @include transitions();
        z-index: 6;

		&:hover {
			&:after,
			&:before {
				opacity: 1;
			}
		}

		&:after,
		&:before {
			background-color: #393A3B;
			content: '';
			display: block;
			font-size: inherit;
			height: 1.1875em;
			left: 50%;
			opacity: .9;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 3px;
			@include transitions();
		}

		&:before {
			height: 3px;
			width: 1.1875em;
		}
    }

    // Intro
    &__intro {
        border-bottom: 1px solid rgba(#979797, .2);
        margin-bottom: 28px;
        padding-bottom: 39px;
    }

    &__heading {
        font-size: 1.0625rem;
        font-weight: $weight-bold;
        margin-bottom: 9px;
    }

    &__description {
        margin-bottom: 23px;

        p {
            font-size: 0.875rem;
        }
    }

    // Bottom read more
    &__read-more {
        p {
            font-size: 0.875rem;
        }
    }

    // Buttons
    &__buttons {
        display: flex;
    }

    &__button {
        align-items: center;
        display: flex;
        height: 41px;
        justify-content: center;
        width: 109px;

        & + & {
            margin-left: 14px;
        }
    }

    &__button--accept {
        background-color: $accept_color;

        &:hover {
            background-color: darken($accept_color, 5%);
        }
    }

    &__button--decline {
        background-color: $decline_color;

        &:hover {
            background-color: darken($decline_color, 5%);
        }
    }

    &__groups {
        border-bottom: 1px solid rgba(#979797, .2);
        margin-bottom: 24px;
        padding-bottom: 39px;
    }

    // Groups
    .cookies-group {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 38px;
        }

        &__name {
            font-size: 1rem;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        &__description {
            p {
                font-size: 0.875rem;
            }
        }

        // Toggle
        &__toggle {
            border-radius: 12px;
            cursor: pointer;
            display: flex;
            height: 23px;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            width: 57px;

            &:after {
                background-color: $white;
                border-radius: 50%;
                content: '';
                height: 19px;
                position: absolute;
                right: 2px;
                top: 2px;
                transition: all .2s linear;
                width: 19px;
                z-index: 4;
            }

            &[data-toggle-group-status="false"] {
                * {
                    transform: translateX(-100%);
                }
                
                &:after {
                    right: 36px;
                }
            }
        }

        &__toggle-option {
            align-items: center;
            background-color: $accept_color;
            display: flex;
            flex-shrink: 0;
            font-size: 0.625rem;
            padding: 0 11px;
            text-transform: uppercase;
            transition: all .2s linear;
            width: 57px;

            &:last-child {
                background-color: $decline_color;
                justify-content: flex-end;
            }
        }
    }
}