@mixin gridcell(
	$row: 1, 
	$column: 1,
	$row_span: 1,
	$column_span: 1,
	$breakpoint: large up
) {
	@include breakpoint($breakpoint) {
		-ms-grid-column: $column;
		-ms-grid-column-span: $column_span;
		-ms-grid-row: $row;
		-ms-grid-row-span: $row_span;
		grid-column-start: $column;
		grid-column-end: $column + $column_span;
		grid-row-start: $row;
		grid-row-end: $row + $row_span;
	}
}